name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Cache Cargo
      uses: actions/cache@v5
      with:
        path: ~/target
        key: ${{ runner.os }}-rust-${{ hashFiles('Cargo.toml') }}
        restore-keys: |
          ${{ runner.os }}-rust-
          ${{ runner.os }}-
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
